<div class="info-board"  (click)="getBoard(board._id)">
  <h2>{{board.name}}</h2>
  <p>{{board.description}}</p>
  <p id="date">{{board.createdAt  | date }}</p>
</div>
<fa-icon [icon]="faEllipsisVertical" id="more" (click)='more()'></fa-icon>
<div *ngIf="editDelete" class="edit-delete">
  <button (click)="editFunc(board._id)">Edit</button>
  <button (click)="delete(board._id)">Delete</button>
</div>
<div *ngIf="edit" class="edit">
  <h2>Edit</h2>
  <input placeholder="Name" id="board-name"/>
  <button (click)="save(board._id)">Save changes</button>
</div>
