<div class="main-info">
  <div class="title">
    <h1>Keep your life in one app with <span>T</span>asks</h1>
    <button  (click)="register()">Get started</button>
  </div>
  <img src="assets/img/homeImage.png" alt="img"/>
</div>
