<div (dragover)="onDragOver($event)" (drop)="onDrop($event)" id='toDo' class="task-column">
  <h2>To do</h2>
  <app-add-task></app-add-task>
  <div class="task" *ngFor="let do of toDo; let index = index" [draggable]="true" (dragstart)="onDragStart(do, $event)">{{do.name}}
    <div class="icons">
      <fa-icon [icon]="faPen"></fa-icon>
      <fa-icon [icon]="faTrash"></fa-icon>
      <fa-icon [icon]="faBoxArchive"></fa-icon>
    </div>
  </div>
</div>
<div (dragover)="onDragOver($event)" (drop)="onDrop($event)" id='progress' class="task-column">
  <h2>In progress</h2>
  <app-add-task></app-add-task>
  <div class="task" *ngFor="let prog of progress; let index = index" [draggable]="true" (dragstart)="onDragStart(prog, $event)">{{prog.name}}
    <div class="icons">
      <fa-icon [icon]="faPen"></fa-icon>
      <fa-icon [icon]="faTrash"></fa-icon>
      <fa-icon [icon]="faBoxArchive"></fa-icon>
    </div>
  </div>
</div>
<div (dragover)="onDragOver($event)" (drop)="onDrop($event)" id='done' class="task-column">
  <h2>Done</h2>
  <app-add-task></app-add-task>
  <div class="task" *ngFor="let task of done; let index = index" [draggable]="true" (dragstart)="onDragStart(task, $event)">{{task.name}}
    <div class="icons">
      <fa-icon [icon]="faPen"></fa-icon>
      <fa-icon [icon]="faTrash" (click)="delete(task._id)"></fa-icon>
      <fa-icon [icon]="faBoxArchive"></fa-icon>
    </div>
  </div>
</div>