<div class="board-header">
  <div class="welcome">
    <h1>Welcome back, {{user}}</h1>
    <p>Your dashboard</p>
  </div>
  <div class="filter">
    <input placeholder="Search" [(ngModel)]="searchInput" id="search"/>
    <select id="select">
      <option>Sort by date</option>
      <option>Sort by description</option>
      <option>Sort by name</option>
    </select>
    <button (click)="asc()">ASC</button>
    <button (click)="desc()">DESC</button>
  </div>
</div>
<div class="boards-flex">
  <app-add-board></app-add-board>
  <app-board-card *ngFor="let board of boards  | search: searchInput" class="board" [board]="board"></app-board-card>
</div>
