*{
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans', sans-serif;
}
body{
  background: url('assets/img/bg.png'), rgba(35, 35, 35, 1);
  background-repeat: no-repeat;
  background-size: cover;
}
app-registration{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
app-login{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  height: 6vh;
  background-color: rgba(29, 29, 29, 1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2vh 8.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-user{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 12em;
}
.header-user a{
  font-size: 0.8em;
}
header h1{
  font-size: 1.7em;
}
header a{
  text-decoration: none;
  color: white;
}
header svg{
  font-size: 2em;
  color: rgba(130, 75, 176, 1);
}
header svg:hover{
  color: rgb(239, 200, 255);
}
img{
  width: 42vw;
}
.main-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0vh 8.5vw;
  align-items: center;
}
.main-info h1{
  color: white;
}
.title{
  min-height: 28vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title h1{
  font-size: 2.8rem;
}
.title button{
  font-size: 1rem;
  width: 12rem;
  height: 3rem;
  /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);*/
  border-radius: 3em;
  background-color: rgba(130, 75, 176, 1);
  color: white;
  border: none;
}
.title button:hover{
  background-color: rgb(239, 200, 255);
  color: black;
  box-shadow: 0px 0px 20px rgba(130, 75, 176, 1);
}
.t-highlight{
  color: rgba(130, 75, 176, 1);
  font-style: italic;
  font-size: 1.2em;
}
form{
  width: 35vw;
  height: 57vh;
  padding: 4vh 5vw;
  background-image: url('assets/img/background-register.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 12vh;
}
.profile{
  width: 25vw;
  height: 37vh;
  padding: 4vh 5vw;
  background-color: #bd9dcf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 12vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.profile h2{
  font-size: 2rem;
  color: #000000;
}
form h2{
  font-weight: 700;
font-size: 3.2rem;

color: #000000;

text-shadow: 2px 2px 4px rgba(228, 212, 237, 0.38);
}
form{
  clip-path: polygon(5% 5%, 97% 5%, 97% 97%, 5% 97%);
}
form input {
  width: 22vw;
height: 6vh;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border: none;
padding-left: 1vw;
}
form input:focus{
  outline: none;
  scale: 1.03;
}
form button{
  width: 10vw;
  height: 6.5vh;
  background-color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
color: #E4D4ED;
}
form button:active{
  scale: 0.95;
}
form p{
  font-size: 0.9rem;
  font-weight: 300;
  color: #FFFFFF;
}
.boards-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10vh 10vw;
  gap: 3vw;
}
.board-header{
  margin: 7vh 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.welcome h1{
  font-size: 2.3rem;
  color: white;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.welcome p{
  color: #4e4e4e;
}
.filter input{
  height: 2rem;
  border: none;
  border-radius: 2rem;
  padding-left: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.filter input:focus{
  outline: none;
}
.filter select{
  height: 2rem;
  border: none;
  border-radius: 2rem;
  padding-left: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.filter button{
  height: 2rem;
  border: none;
  border-radius: 2rem;
  width: 2.8rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.filter{
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
.board{
  width: 12rem;
  height: 6rem;
  padding: 1.5rem;
  background-color: #e2c5f3;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.board:hover{
  scale: 1.05;
  box-shadow: 0px 0px 20px rgba(130, 75, 176, 1);
  cursor: pointer;
  background-color: #E4D4ED;
}
.board h2{
  font-size: 1.7rem;
  text-transform: capitalize;
}
.board p{
  color: #000000;
  text-transform: capitalize;
}
.add-b{
  width: 9.3rem;
  height: 9rem;
  background-color: #e2c5f3;
  border-radius: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.modal{
  position: absolute;
  width: 27rem;
  height: 17rem;
  border-radius: 1.5rem;
  margin-top: 3rem;
  margin-left: 7rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
  background-color: #f8ecff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
.modal input{
  width: 17rem;
  height: 2.6rem;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
}
.modal input:focus{
  outline: none;
  scale: 1.05;
}
.modal button{
  width: 7rem;
  height: 2.2rem;
  background-color: #e2c5f3;
  font-size: 1.1rem;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.modal button:hover{
  cursor: pointer;
}
.modal button:active{
  scale: 0.95;
}
#date{
  font-size: 0.8rem;
  font-weight: 300;
}
.modal h2{
  font-size: 1.6rem;
}
app-add-board{
  width: 15em;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-b:hover{
  scale: 1.05;
  box-shadow: 0px 0px 20px rgba(130, 75, 176, 1);
  cursor: pointer;
  background-color: #E4D4ED;
}
.add-b fa-icon{
  font-size: 2.5rem;
}
.add-b h3{
  font-size: 1.2rem;
  color: #000000;
}
p{
  color: #FFFFFF;
}
app-board{
  display: flex;
  flex-direction: row;
}
.info-board{
  min-width: 8rem;
}
.edit-delete{
  position: absolute;
  width: 6rem;
  height: 3rem;
  background-color: #E4D4ED;
  bottom: 8rem;
  left: 13rem;
  z-index: 10;
}
.edit{
  position: absolute;
  width: 15rem;
  height: 8rem;
  background-color: #E4D4ED;
  bottom: 8rem;
  left: 13rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
  background-color: #f8ecff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
.edit:hover{
  scale: 1.1;
}
.edit input{
  width: 10rem;
  height: 2rem;
  border: none;
}
.edit-delete button{
  width: 6rem;
  height: 1.5rem;
  border: none;
  background-color: #2e2e2e;
  color: #E4D4ED;
}
.edit-delete button:hover{
  background-color: #363636;
  cursor: pointer;
  scale: 1.1;
}
app-board-card{
  position: relative;
}
app-task-column{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: center;
}
app-board h1{
  color: #FFFFFF;
}
app-board{
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.task-column{
  min-height: 25rem;
  width: 22rem;
  background-color: #bd9dcf;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.task{
  background-color: #bd9dcf;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
}
.icons{
  display: flex;
  gap: 1rem;
  font-size: small;
  color: #6a00a8;
}
fa-icon{
  cursor: pointer;
}
app-board{
  display: flex;
  flex-direction: column;
  margin: 5vh 10vw;
}
app-board h1{
  text-transform: capitalize;
}


@media (max-width: 480px) {
  .main-info {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    justify-content: center;
  }
  .title{
    width: 70vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title h1{
    font-size: 2rem;
  }
  img{
    width: 80vw;
  }

  form{
    width: 90vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  form h2{
    font-size: 2.2em;
  }
  form input{
    width: 55vw;
    height: 4.5vh;
  }
  form button{
    width: 25vw;
    height: 5vh;
    font-size: 1em;
  }
}