<form>
  <h2>Login</h2>
  <input type="text" placeholder="Username" name='username' id="username"/>
  <input type="text" placeholder="Password" name='password' id="password"/>
  <p>If you do not have an account follow this <a [routerLink]="'/register'">link</a></p>
  <button (click)="signIn()">Sign in</button>
</form>
