<div class="profile" *ngIf="!password">
  <h2><span>User`s name: </span>{{user}}</h2>
  <button (click)="deleteUser()">Delete user</button>
  <button (click)="changeUser()">Change password</button>
</div>
<div class="profile" *ngIf="password">
  <input placeholder="Old password" id="oldP"/>
  <input placeholder="New password" id="newP"/>
  <button (click)="submit()">Submit</button>
</div>
