<form #gfg = "ngForm">
  <h2>Create an account</h2>
  <input type="text" placeholder="Username" name='username' id="username"/>
  <input type="text" placeholder="Password" name='password' id="password"/>
  <input type="text" placeholder="Confirm password" name='password2' id="password2"/>
  <p>If you already have an account follow this <a [routerLink]="'/login'">link</a></p>
  <button (click)="submit()">Sign up</button>
</form>
