<header>
  <a [routerLink]="'/'"><h1><span class="t-highlight">T</span>asks</h1></a>
  <div class="header-user">
    <a [routerLink]="'/login'">Sign in</a>
    <a [routerLink]="'/registration'">Sign up</a>
    <fa-icon [icon]="faCircleUser" (click)="userInfo()"></fa-icon>
  </div>
</header>

