<div *ngIf='!hidden' class="add-t">
  <fa-icon [icon]="faPlus" (click)='hide()'></fa-icon>
</div>
<div *ngIf='hidden' class="modal">
  <h2>Add task</h2>
  <input type="text" placeholder="Name" name='name' id="task-name"/>
  <input type="text" placeholder="Comment" name='comment' id="comment"/>
  <button (click)='taskPost()'>Create</button>
</div>
