<div *ngIf='!hidden' class="add-b">
  <fa-icon [icon]="faPlus" (click)='hide()'></fa-icon>
  <h3>Add board</h3>
</div>
<div *ngIf='hidden' class="modal">
  <h2>Add board</h2>
  <input type="text" placeholder="Name" name='name' id="name"/>
  <input type="text" placeholder="Description" name='description' id="description"/>
  <button (click)='boardPost()'>Create</button>
</div>
